/* ecards.css ... Style overides for ecards app */

.topbar .top-navbar .navbar-header {
    height: 64px;
    padding-top: 5px;
}

.sidebar-nav > ul > li > a.active {
    font-weight: 400;
    background-color: transparent;
    color: #5e6095;
}

.badge-success {
    background-color: #00ff00;
}

.dash-item {
    margin: 10px;
}
